<%- include("partials/header.ejs") %>
    <%- include("partials/footer.ejs") %>

        <h2>Games List</h2>
        
        <form>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div>
                <label htmlFor="difficulty">Difficulty:</label>
                <input type="text" placeholder="Easy, Medium, Hard, Extreme"/>
            </div>
            <div>
                <label htmlFor="mistakes">Mistakes: </label>
                <input type="text"/>
            </div>
            <div>
                <label htmlFor="hints">Hints:</label>
                <input type="text"/>
            </div>
            <div>
                
                <label htmlFor="status">
                    Status:
                </label>
                <select>
                    <option>Not started</option>
                    <option>In progress</option>
                    <option>Completed</option>
                    <option>Restarted</option>
                </select>
            </div>
            <div>
                <td>
                <form method="POST" action="/games/create/<%= game._id %>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit">Add</button>
             
                </form>
                
            </td>

            <!-- <td>
                <a href="/games/update/<%= game._id %>">
                <button type="submit">Update</button>
                </a>
            </td>    -->
            </div>
         
        </form>

        <% if (game) { %>
            <!-- UPDATE form -->
            <form method="POST" action="/games/update/<%= game._id %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        
                <div>
                    <label for="difficulty-update">Difficulty:</label>
                    <input id="difficulty-update" name="difficulty"/>
                </div>
        
                <div>
                    <label for="mistakes-update">Mistakes:</label>
                    <input id="mistakes-update" name="mistakes" />
                </div>
        
                <div>
                    <label for="usedHints-update">Hints:</label>
                    <input id="usedHints-update" name="usedHints"/>
                </div>
        
                <div>
                    <label for="status-update">Status:</label>
                    <select id="status-update" name="status">
                        <option>Not started</option>
                        <option>In progress</option>
                        <option>Completed</option>
                        <option>Restarted</option>
                    </select>
                </div>
        
                <button type="submit">Update</button>
            </form>
            <% } %>