<%- include("partials/header.ejs") %>
    <%- include("partials/footer.ejs") %>

        <h2>Games List</h2>
        
        <form>
    
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div>
                <label htmlFor="difficulty">Difficulty:</label>
                <input type="text" placeholder="Easy, Medium, Hard, Extreme"/>
            </div>
            <div>
                <label htmlFor="mistakes">Mistakes: </label>
                <input type="text"/>
            </div>
            <div>
                <label htmlFor="hints">Hints:</label>
                <input type="text"/>
            </div>
            <div>
                
                <label htmlFor="status">
                    Status:
                </label>
                <select>
                    <option value="Not started">Not started</option>
                    <option value="In progress">In progress</option>
                    <option value="Completed">Completed</option>
                    <option value="Restarted">Restarted</option>
                </select>
            </div>
            <td>
                <form method="PATCH" action="/games/delete/<%= game._id %>">
                    <a>
                    <button type="button">add</button>
                </a>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
                
            </td>

            <td>
                <a href="/games/edit/<%= game._id %>">
                <button type="button">edit</button>
                </a>
            </td>
        </form>