<%- include("partials/header.ejs") %>
    <%- include("partials/footer.ejs") %>
    <!-- change title can use ternary -->
        <h2>Games List</h2>
        <!-- post & action (like delete) use game variable!! -->
        <form>
            <!-- conditional for game vs input -->
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div>{" "}
                <label htmlFor="difficulty">Difficulty:</label>{" "}
                <input type="text" value={difficulty} />{" "}
            </div>
            <div>{" "}
                <label htmlFor="mistakes">Mistakes: </label>{" "}
                <input type="text" value={mistakes}/>{" "}
            </div>
            <div>
                <label htmlFor="hints">Hints:</label>
                <input type="text" value={hints}/>
            </div>
            <div>
                {" "}
                <label htmlFor="status">
                    Status:
                </label>{" "}
                <select>
                    <option value="Not started">Not started</option>
                    <option value="In progress">In progress</option>
                    <option value="Completed">Completed</option>
                    <option value="Restarted">Restarted</option>
                </select>
            </div>
            <td>
                <a href="/games/create/<%= game.id %>" action="/games/delete/<%= game.id %>">
                    <button type="button">add</button>
                </a>
            </td>

            <td>
                <a href="/games/edit/<%= game.id %>">
                <button type="button">edit</button>
                </a>
            </td>
        </form>