<%- include("partials/header.ejs") %>
    <%- include("partials/footer.ejs") %>

        <h2>Games List</h2>
   
        <% if (game) { %>
            <form method="POST" action="/games/update/<%= game._id %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <div>
                    <label for="difficulty-update">Difficulty:</label>
                    <input id="difficulty-update" name="difficulty" value="<%= game.difficulty %>"/>
                </div>

                <div>
                    <label for="mistakes-update">Mistakes:</label>
                    <input id="mistakes-update" name="mistakes" value="<%= game.mistakes %>"/>
                </div>

                <div>
                    <label for="usedHints-update">Hints:</label>
                    <input id="usedHints-update" name="usedHints" value="<%= game.usedHints %>"/>
                </div>

                <div>
                    <label for="status-update">Status:</label>
                    <select id="status-update" name="status">
                        <option>Not started</option>
                        <option>In progress</option>
                        <option>Completed</option>
                        <option>Restarted</option>
                    </select>
                </div>

                <button type="submit">Update</button>
            </form>
        <% } %>