<%- include("partials/header.ejs") %>
    <%- include("partials/footer.ejs") %>
    <h2>Games List</h2>
    <table id="Games-table">
        <tr id="Games-table-header">
            <th>Difficulty</th>
            <th>Mistakes</th>
            <th>Hints</th>
            <th>Status</th>
            <th colspan="2"></th>
        </tr>
        <% if (games && games.length) { %>
            <% games.forEach((game)=> { %>
                <tr>
                    <td>
                        <%= game.difficulty %>
                    </td>
                    <td>
                        <%= game.mistakes %>
                    </td>
                    <td>
                        <%= game.usedHints %>
                    </td>
                    <td>
                        <%= game.status %>
                    </td>
                    <td>
                       <a href="/games/edit/<%= game._id %>">
                        <button type="button">Edit</button>
                       </a>  
                    </td>

                    <td>
                     <form method="POST" action="/games/delete/<%= game._id %>" style="display:inline;">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit">Delete</button>
                     </form>
                    </td>
                </tr>
                <% }) %>
                    <% } %>
    </table>
    <br/>
        <form method="POST" action="/games/create">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        
            <div>
                <label for="difficulty-add">Difficulty:</label>
                <input id="difficulty-add" name="difficulty" value="" placeholder="Easy, Medium, Hard, Extreme" />
            </div>
        
            <div>
                <label for="mistakes-add">Mistakes:</label>
                <input id="mistakes-add" name="mistakes" value=""  placeholder="i.e. 0, 1, etc."/>
            </div>
        
            <div>
                <label for="usedHints-add">Hints:</label>
                <input id="usedHints-add" name="usedHints" value="" placeholder="i.e. 0, 1, etc."/>
            </div>
        
            <div>
                <label for="status-add">Status:</label>
                <select id="status-add" name="status">
                    <option value="Not started">Not started</option>
                    <option value="In progress">In progress</option>
                    <option value="Completed">Completed</option>
                    <option value="Restarted">Restarted</option>
                </select>
            </div>
        
            <button type="submit">Add</button>
        </form>